/* Surface */
html.p-dark .surface-950 {
  background-color: var(--p-surface-950) !important;
}

/* Avatar */
.avatar-giant {
  width: 10rem !important;
  height: 10rem !important;
  font-size: 10rem !important;
}
.avatar-giant-icon {
  width: 5rem !important;
  height: 5rem !important;
}
.avatar-giant-icon::before {
  font-size: 5rem !important;
}

/* ProgressSpinner */
:root {
  --p-progressspinner-color-one: var(--p-primary-100) !important;
  --p-progressspinner-color-two: var(--p-primary-300) !important;
  --p-progressspinner-color-three: var(--p-primary-500) !important;
  --p-progressspinner-color-four: var(--p-primary-800) !important;
}
