/* Margin */
.ml-9 {
  margin-left: 6rem;
}
.ml-10 {
  margin-left: 7rem;
}
.ml-11 {
  margin-left: 8rem;
}
.ml-12 {
  margin-left: 9rem;
}
.ml-13 {
  margin-left: 10rem;
}
.ml-14 {
  margin-left: 11rem;
}
.ml-15 {
  margin-left: 12rem;
}
.ml-16 {
  margin-left: 13rem;
}

.mr-9 {
  margin-right: 6rem;
}
.mr-10 {
  margin-right: 7rem;
}
.mr-11 {
  margin-right: 8rem;
}
.mr-12 {
  margin-right: 9rem;
}
.mr-13 {
  margin-right: 10rem;
}
.mr-14 {
  margin-right: 11rem;
}
.mr-15 {
  margin-right: 12rem;
}
.mr-16 {
  margin-right: 13rem;
}

.mt-9 {
  margin-top: 6rem;
}
.mt-10 {
  margin-top: 7rem;
}
.mt-11 {
  margin-top: 8rem;
}
.mt-12 {
  margin-top: 9rem;
}
.mt-13 {
  margin-top: 10rem;
}
.mt-14 {
  margin-top: 11rem;
}
.mt-15 {
  margin-top: 12rem;
}
.mt-16 {
  margin-top: 13rem;
}

.mb-9 {
  margin-bottom: 6rem;
}
.mb-10 {
  margin-bottom: 7rem;
}
.mb-11 {
  margin-bottom: 8rem;
}
.mb-12 {
  margin-bottom: 9rem;
}
.mb-13 {
  margin-bottom: 10rem;
}
.mb-14 {
  margin-bottom: 11rem;
}
.mb-15 {
  margin-bottom: 12rem;
}
.mb-16 {
  margin-bottom: 13rem;
}

.my-9 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.my-10 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.my-11 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.my-12 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}
.my-13 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.my-14 {
  margin-top: 11rem;
  margin-bottom: 11rem;
}
.my-15 {
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.my-16 {
  margin-top: 13rem;
  margin-bottom: 13rem;
}

.mx-9 {
  margin-left: 6rem;
  margin-right: 6rem;
}
.mx-10 {
  margin-left: 7rem;
  margin-right: 7rem;
}
.mx-11 {
  margin-left: 8rem;
  margin-right: 8rem;
}
.mx-12 {
  margin-left: 9rem;
  margin-right: 9rem;
}
.mx-13 {
  margin-left: 10rem;
  margin-right: 10rem;
}
.mx-14 {
  margin-left: 11rem;
  margin-right: 11rem;
}
.mx-15 {
  margin-left: 12rem;
  margin-right: 12rem;
}
.mx-16 {
  margin-left: 13rem;
  margin-right: 13rem;
}

.m-9 {
  margin: 6rem;
}
.m-10 {
  margin: 7rem;
}
.m-11 {
  margin: 8rem;
}
.m-12 {
  margin: 9rem;
}
.m-13 {
  margin: 10rem;
}
.m-14 {
  margin: 11rem;
}
.m-15 {
  margin: 12rem;
}
.m-16 {
  margin: 13rem;
}

/* Padding */
.pl-9 {
  padding-left: 6rem;
}
.pl-10 {
  padding-left: 7rem;
}
.pl-11 {
  padding-left: 8rem;
}
.pl-12 {
  padding-left: 9rem;
}
.pl-13 {
  padding-left: 10rem;
}
.pl-14 {
  padding-left: 11rem;
}
.pl-15 {
  padding-left: 12rem;
}
.pl-16 {
  padding-left: 13rem;
}

.pr-9 {
  padding-right: 6rem;
}
.pr-10 {
  padding-right: 7rem;
}
.pr-11 {
  padding-right: 8rem;
}
.pr-12 {
  padding-right: 9rem;
}
.pr-13 {
  padding-right: 10rem;
}
.pr-14 {
  padding-right: 11rem;
}
.pr-15 {
  padding-right: 12rem;
}
.pr-16 {
  padding-right: 13rem;
}

.pt-9 {
  padding-top: 6rem;
}
.pt-10 {
  padding-top: 7rem;
}
.pt-11 {
  padding-top: 8rem;
}
.pt-12 {
  padding-top: 9rem;
}
.pt-13 {
  padding-top: 10rem;
}
.pt-14 {
  padding-top: 11rem;
}
.pt-15 {
  padding-top: 12rem;
}
.pt-16 {
  padding-top: 13rem;
}

.pb-9 {
  padding-bottom: 6rem;
}
.pb-10 {
  padding-bottom: 7rem;
}
.pb-11 {
  padding-bottom: 8rem;
}
.pb-12 {
  padding-bottom: 9rem;
}
.pb-13 {
  padding-bottom: 10rem;
}
.pb-14 {
  padding-bottom: 11rem;
}
.pb-15 {
  padding-bottom: 12rem;
}
.pb-16 {
  padding-bottom: 13rem;
}

.py-9 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.py-10 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.py-11 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.py-12 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.py-13 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.py-14 {
  padding-top: 11rem;
  padding-bottom: 11rem;
}
.py-15 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.py-16 {
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.px-9 {
  padding-left: 6rem;
  padding-right: 6rem;
}
.px-10 {
  padding-left: 7rem;
  padding-right: 7rem;
}
.px-11 {
  padding-left: 8rem;
  padding-right: 8rem;
}
.px-12 {
  padding-left: 9rem;
  padding-right: 9rem;
}
.px-13 {
  padding-left: 10rem;
  padding-right: 10rem;
}
.px-14 {
  padding-left: 11rem;
  padding-right: 11rem;
}
.px-15 {
  padding-left: 12rem;
  padding-right: 12rem;
}
.px-16 {
  padding-left: 13rem;
  padding-right: 13rem;
}

.p-9 {
  padding: 6rem;
}
.p-10 {
  padding: 7rem;
}
.p-11 {
  padding: 8rem;
}
.p-12 {
  padding: 9rem;
}
.p-13 {
  padding: 10rem;
}
.p-14 {
  padding: 11rem;
}
.p-15 {
  padding: 12rem;
}
.p-16 {
  padding: 13rem;
}
